body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-color: transparent;
}

/* #background {
    width: 100%;
    height: 100%;
    z-index: score 2;
    position: fixed; 
 } */

.header {
    margin: 0 auto;
    padding: 10px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    z-index: score 1;
    width: 100%;
    background-color: gray;
    /* border-bottom: blue; */
}

#title {
    font-size: 36px;
    z-index: score 1;
}

#subtitle {
    font-size: 24px; 
    z-index: score 1;
}

.container {
    margin: 0 auto;
    text-align: center;
    z-index: score 1;
    color: white;
}
#tent {
    margin-top: 20px;
    width: 500px;
}

.placeholder {
    margin-top: 80px;
    font-weight: bold;
}

#image-row {
    margin: 50px;
}

#hangman-text {
    margin: 50px;
    font-size: 30px;
}

#wrongGuess {
    margin: 5px;
}

#guessesLeft {
    margin: 20px;
}